/********* Global *********/

.contacto{
    padding-top: 2rem;
    padding-bottom: 5rem;
margin: 0;
  padding-bottom: 4rem;
}

.contacto-cont{
    margin: 0 auto;
    overflow: hidden;
    padding-right: 10rem;
     padding-left: 10rem;
}


/********** Titulo ***********/
.contacto-cont h4{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: .8rem;
    color: #0982A8;
}

/*.contacto-cont h1{
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: uppercase;
}*/

/*********** Grid ***********/
.contact-grid{
    display: grid;
    grid-template-columns:  repeat(2, minmax(0,1fr));
    padding: 2rem 0 5rem 0;
    gap: 2rem;
}

/********* Mailchimp **********/

.button{
    background-color: #0982A8!important;
}

.button:hover{
    background-color: white!important;
    border: solid!important;
    border-width: 1px!important;
    border-color: #0982A8!important;
    color: #0982A8!important;
}


/*********** Texto **********/
.txt-izq-cont h2{
    text-align: left;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
    text-transform: uppercase;
    line-height: 2.5rem;
    padding-right: 1rem;
}

.txt-izq-cont li{
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.contact .bi{
    margin-right: .6rem;;
}


/*********** Social **********/


ul.socialmedia-contact li{
    display: inline;
    padding-right: .5rem;
    
}

.socialmedia-contact .bi{
    padding: .5rem .8rem .5rem .8rem;
    border-radius: 25px;
    margin-left: -1rem;
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
}
.socialmedia-contact .bi:hover{
    color: white;
    padding: .5rem .8rem .5rem .8rem;
    border-radius: 25px;
    transform: scale(1.1);
}

.socialmedia-contact .bi-facebook:hover{
    background-color:#3b5998;
}

.socialmedia-contact .bi-linkedin:hover{
    background-color: #0e76a8;
}

.socialmedia-contact .bi-whatsapp:hover{
    background-color: #25D366;
}


@media screen and (min-width:300px) and (max-width:850px) {

    .contacto{
        padding-top: 0;
        padding-bottom: 2rem;
    }

    .contacto-cont{
        margin: 0 auto;
        overflow: hidden;
        padding-right: 2rem;
         padding-left: 2rem;
    }

    /*********** Texto **********/
.txt-izq-cont h2{
    text-align: left;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.contact .bi{
    margin-right: .6rem;;
}

    /*********** Grid ***********/
.contact-grid{
    display: grid;
    grid-template-columns:  repeat(1, minmax(0,1fr));
    padding: 0rem 0 5rem 0;
    gap: 0rem;
}

#mc_embed_signup{
    width: 410px!important;
    margin-left: -1.4rem;
}


}

