/********* Global *********/

.contacto{
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-left: -8px;
    margin-right: -8px;
  
}

.contacto-cont{
    margin: 0 auto;
    overflow: hidden;
    padding-right: 10rem;
     padding-left: 10rem;
}


/********** Titulo ***********/
.contacto-cont h4{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: .8rem;
    color: #0982A8;
}

.contacto-cont h1{
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: uppercase;
}


/********* Mailchimp **********/

.mail-formulario{
    display: flex;
    justify-content: center;
}

/*********** Social **********/

.social-media-contact{
    display: flex;
    justify-content: center;
}

ul.socialmedia-contact li{
    display: inline;
    padding-right: 2rem;
   
}



.socialmedia-contact .bi{
    padding: .5rem .8rem .5rem .8rem;
    border-radius: 90%;
    margin-left: -2rem;
    font-size: 1.7rem;
    transition: all 0.3s ease-in-out;
}
.socialmedia-contact .bi:hover{
    color: white;
    padding: .5rem .8rem .5rem .8rem;
    border-radius: 90%;
    transform: scale(1.1);
}

.socialmedia-contact .bi-facebook:hover{
    background-color:#3b5998;
}

.socialmedia-contact .bi-linkedin:hover{
    background-color: #0e76a8;
}

.socialmedia-contact .bi-whatsapp:hover{
    background-color: #25D366;
}


@media screen and (min-width:300px) and (max-width:800px) {

    .contacto-cont{
        margin: 0 auto;
        overflow: hidden;
        padding-right: 2rem;
         padding-left: 2rem;
    }

}

