/********* Global *********/

.contacto{
    padding-top: 1rem;
    padding-bottom: 5rem;
    margin: 0;  
    padding-bottom: 4rem;
}

.contacto-cont{
    margin: 0 auto;
    overflow: hidden;
    padding-right: 10rem;
     padding-left: 10rem;
}


/********** Titulo ***********/
.contacto-cont h4{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: .8rem;
    color: #0982A8;
}

/*********** Grid ***********/
.contact-grid{
    display: grid;
    grid-template-columns:  repeat(2, minmax(0,1fr));
    padding: 2rem 0 5rem 0;
    gap: 2rem;
}

/*********** Texto **********/
.cotizatext {
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
    text-transform: uppercase;
    line-height: 2.5rem;
    padding-right: 1rem;
}

/*********** Imagen **********/
.img-personal img{
  width: 86%;
  height: auto;
  display: block;
  border-radius: 2rem;
}



@media screen and (min-width:300px) and (max-width:850px) {

    .contacto{
        padding-top: 0;
        padding-bottom: 2rem;
    }

    .contacto-cont{
        margin: 0 auto;
        overflow: hidden;
        padding-right: 2rem;
         padding-left: 2rem;
    }
    /*********** Grid ***********/
.contact-grid{
    display: grid;
    grid-template-columns:  repeat(1, minmax(0,1fr));
    padding: 0rem 0 5rem 0;
    gap: 0rem;
}

.cotizatext{
    font-size: 1.5rem;
    text-align: center;
}

.img-personal{
    display: flex;
    justify-content: center;
    align-items: center;
}

br{
    display: none;
}

.contacto-social{
    display: flex;
    justify-content: center;
}

.social-media-contact{
    display: flex;
    justify-content: center;
}
}