/********** Global **********/


.features-cont{
    margin: 0 auto;
    overflow: hidden;
    padding-right: 10rem;
    padding-left: 10rem;
    margin-bottom: 1rem;;
}

.features-grid{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 2rem;
    display: flex;
    justify-content: center;
    margin-left: 5rem;
}

.features-grid2{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 2rem;
    display: flex;
    justify-content: center;
    margin-left: 5rem;
    margin-top: 3rem;
}

.serv-espacio{
    padding-bottom: 4rem;
}

/********* lista *********/

ul {
    list-style: none;
}

.features h4{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: .8rem;
    color: #0982A8;
}

.features h1{
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.p-inicial{
    text-align: center;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.628);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding-bottom: 4rem;
    line-height: 28px;
}

.flex-row-1{
    flex-direction: row;
    max-width: 28rem;
}

.flex-row-2{
    flex-direction: row;
    max-width: 28rem;
    
}

p{
    margin-right: 3rem;
    font-family: "Roboto", sans-serif;

}

h3{
    font-family: "Manrope", sans-serif;
    margin-top: 3rem;
}

.features-cont .bi {
    border: solid;
    border-width: 1px;
    border-color: #0982A8;
    padding: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #0982A8;
  
}

.bi{
    color: #0982A8;
}

@media screen and (min-width:300px) and (max-width:850px) {

    /********** Global **********/

    .features-cont{
        margin: 0 auto;
        overflow: hidden;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        margin-bottom: 2rem;
    }
    
    .features-grid{
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
        gap: 2rem;
        margin-left: 0;
    }

    .features-grid2{
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
        gap: 2rem;
        margin-left: 0;
    }

    .features h1{
        font-size: 1.5rem;
    }
  
    .features-txt p{
margin: 0;
    }
    
}
