
.footer{
  padding-top: 1rem;
    
          margin-left:-8px;
          margin-right:-8px;
          margin-bottom: -8px;
          padding-bottom: 20px;
          border-top: solid;
          border-width: 1px;
          border-color: rgba(0, 0, 0, 0);
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          background-color: #0982A8;
  }
  
  .footer-cont{
    margin: 0 auto;
  overflow: hidden;
  padding-right: 50px;
  padding-left: 50px;

  }
  
  .logo-img-footer{
    width: 30%;
    height: 4rem;
    margin-top: 2rem;
}
  
  .footnav{
   
     padding-top: 40px;
  }
  
  .footnav a {
    float: left;
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    margin-left: -13px;
    
  }

  
  .footnav .icon {
    display: none;
  }
  
  .footer2-grid{

    font-family: 'Albert Sans', sans-serif;
    text-align: justify;
    color: #DEE1D4;
    padding-right: 2rem;
    padding-left: 2rem;
    display:grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
        gap: 2rem;
  }
  

  .terminos p{
    text-align: center;
    color: black;
    margin-top: 7rem;
  }

  .terminos a{
    color: black;
    text-decoration: none;
  }
  
  .suscribe p{
    text-align: center;
  }

  .suscribe a{
    color: #DEE1D4;
    text-decoration: none;
  }

  .suscribe a:hover{
    color: #97AAA0;
  }

  .terminos a:hover{
    color: #97AAA0;
  }

  .iconos{
    margin-top: 3.7rem;
  }

  .iconos a {
    color: black;
  }
  @media screen and (min-width:300px) and (max-width:800px) {
    .footer-cont{
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
    }
    
    .footer-grid{
      width: auto;
      grid-template-columns: repeat(1,minmax(0,1fr));
      padding-left:10px;
      padding-right: 10px;
    }
    
    .footer2-grid{
      width: auto;
      grid-template-columns: repeat(1,minmax(0,1fr));
      padding-left:10px;
      padding-right: 10px;
    }

    .footer-img{
      width: 100%;
      height: 90%;
      float: left;
      margin-top: 1.5rem;
    }

    .footnav a {
      float: center;
      display: block;
      color: #DEE1D4;
      text-align: left;
      text-decoration: none;
      font-size: 16px;
      margin-top: -1rem;

    }

    .terminos p{
      text-align: left;
      margin-top: -1rem;
    }

    .footer2-grid{
      text-align: left;
    }

    .iconos{
      text-align: left;
    }

    .suscribe p{
      text-align: left;
      margin-top: -1rem;
    }

    }

    @media screen and (min-width:800px) and (max-width:1200px) {
      .footer-grid{
        width: auto;
        grid-template-columns: repeat(1,minmax(0,1fr));
        padding-left:10px;
        padding-right: 10px;
      }
      
      .footer2-grid{
        width: auto;
        grid-template-columns: repeat(1,minmax(0,1fr));
        padding-left:10px;
        padding-right: 10px;
      }

      .terminos p{
        text-align: left;
        margin-top: -1rem;
      }
  
      .footer2-grid{
        text-align: left;
      }
  
      .iconos{
        text-align: left;
      }
  
      .suscribe p{
        text-align: left;
        margin-top: -1rem;
      }
    }
