
  .footer{
    margin-left:-18px;
    margin-right:-8px;
    margin-bottom: -8px;
    margin-top: -6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #0982A8;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 32px;
    padding: 1rem 3rem 1rem 7rem;
}


.footergrid1{
margin-top: 2.5rem;
}

.footergrid1 p{
    color: white;
}

li{
    color: white;
}

.footer h3{
  font-family: "Manrope", sans-serif;
    text-transform: uppercase;
 color: white;

}

.footer p{
    font-family: "Roboto", sans-serif;
   color: white;
    text-align: justify;
    font-size: 17px;
}

.footer li{
    font-family: "Roboto", sans-serif;
   color: white;
    text-align: justify;
    font-size: 16px;
    text-transform: capitalize;
   margin-right: -2rem;
    line-height: 34px;
    font-weight: 400;

}

.footergrid3 li{
    display: inline-block;
    margin-right: 10px; /* Espaciado entre elementos */
}

.footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footergrid2{
    margin-left: 8rem;
}

.footergrid3{
    margin-left: 5rem;
}

.footer .bi{
    color: white;
    margin-right: 1rem;
}

.footer .bi-facebook{
  color: white!important;
}


@media screen and (max-width:800px){

    .footer{
 
      padding: 0;
 
    }

    .footer-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 0;
        padding: 2rem;
    }

    .footergrid2{
        margin-left: 0;
        margin-right: 2rem;
    }
    
    .footergrid3{
        margin-left: 0;
    }

    .footer h3{
  margin-top: 1rem;
      
      }
    
}