
/********** Gloobal ***********/

.Mainhead{
  z-index: 1;
  padding-top: 5rem;
  padding-bottom: 10rem;
  background-image: url('../assets/puntos.png');
  background-size: cover;
  background-position: center;
}

.content-main{
  overflow: hidden;
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 50px;
}

/*********** Img **********/

.mainhead-cont img{
  width: 90%;
  height: 90%;
  box-shadow: none;
}

/*********** text **********/
.mainhead-cont-2 h1{
  text-align: center;
  font-size: 3rem;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.mainhead-cont-2 p{
  text-align: center;
  font-size: 1.2rem;
  line-height: 27px;
}

.buttons-grid{
  display: flex;
  justify-content: center;
}
  
.btn-left{
  background-color:#0982A8;
  padding: 17px 52px 17px 52px;
  color: white;
  border-radius: 12px;
  margin-top: 1.9rem;
  font-size: 1.1rem;
  transition: background-color 0.3s ease; /* Transición de 0.5 segundos */
  text-decoration: none;
}

.btn-left:hover{
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: #0982A8;
  color: #0982A8;
  
}


@media screen and (min-width:300px) and (max-width:850px) {
  .Mainhead{
   padding-top: 1rem;
   padding-bottom: 2rem;
 }

    .content-main{
      width: auto;
      padding-left: .5rem;
      padding-right: .5rem;
    }

    .main-grid{
      padding: 1rem;
      grid-template-columns: repeat(1,minmax(0,1fr));
          gap: 0;
          margin-top: 1rem;     
    }

    /*********** text **********/
.mainhead-cont-2 h1{
  font-size: 2.2rem;
}
  
  }
 
  @media only screen and (min-width:1400px) {

    .content-main{
      width: auto;
      padding-left: 140px;
      padding-right: 140px;
    }

  }


  /* From Uiverse.io by alexmaracinaru */ 
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #0982A8;
 
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #0982A8;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}