/********** Gloobal ***********/
.portafolio{

 z-index: 1;
 padding-bottom: 6rem;
padding-top: 4rem;
}

.cuadros-cont{
 overflow: hidden;
 margin: 0 auto;
 padding-right: 50px;
 padding-left: 50px;
}

/*********** texto ***********/
.main-title-port h4{
  text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: .8rem;
    color: #0982A8;
}

.main-title-port h1{
  text-align: center;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
}


/********** Portafolio ***********/

.galeria {
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  grid-template-rows: auto auto; /* 2 filas, altura automática */
  position: relative;
  overflow: hidden;
}

.imagen-container{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.galeria img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 2rem;
  box-sizing: border-box;
  border-radius: 30px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.galeria img:hover {
  opacity: .9;
}

.paginacion {
  text-align: center;
  margin-top: 20px;
}

.paginacion button {
 padding: 10px 20px;
  margin: 0 5px;
  background-color: #0982A8;
  color: white;
  border: none;
  cursor: pointer;
 border-radius: 50px;
  font-size: 18px;
}

.paginacion button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.paginacion button:hover:not(:disabled) {
  background-color: #2980b9;
}
/* Ocultar imágenes después de las primeras 6 */
.galeria img:nth-child(n + 7) {
  display: none;
}

/********** Filtros **********/
.filtros {
  text-align: center;
  margin-bottom: 20px;
}
.filtros .filtro {
padding: 14px 30px;
  margin: 5px;
  background: #eee;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 18px;
}
.filtros .filtro.activo {
  background: #0982A8;
  color: #fff;
}

.proyecto {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  display: none; /* inicialmente oculto */
}

.proyecto.mostrar {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.filtros .filtro .contador {
  font-size: 16px;
  opacity: 0.8;
  margin-left: 5px;
}

.filtros .filtro.activo .contador {
  opacity: 1;
  font-weight: 600;
}


@media screen and (min-width:300px) and (max-width:850px) {

  .filtros{
    margin-bottom: 3rem;
    margin-top: -3rem;
  }
  .portafolio{
   padding-top: 2rem;
   padding-bottom: 2rem;
  }
  .cuadros-cont{
    padding-right: 1.5rem;
     padding-left: 1.5rem;
}

.main-title-port h1{
  text-align: center;
}

.galeria {
  margin-top: -1.5rem!important;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 2 columnas */
}

.main-title-port h1{
    font-size: 1.5rem;
}
}

