/********* Global *********/

.portafolio{
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-left: -8px;
    margin-right: -8px;
}

.cuadros-cont{
    margin: 0 auto;
    overflow: hidden;
    padding-right: 4rem;
     padding-left: 4rem;
}

.grid-portafolio{
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  gap: 2rem;
}
/********* Titulo *********/

.main-title-port{
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  padding-right: 10rem;
   padding-left: 10rem;
}

.main-title-port h4{
text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: .8rem;
  color: #0982A8;
 
}

.main-title-port h1{
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
}
  
  /*********** Imagenes **********/
    .img1-carrusel{
      width: 93%;
      height: 18rem;
      padding: 5rem;
      background-image: url('/src/assets/trucapitals.png');
      background-size: cover;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 25px;
      background-position: center;
    }

    .img1-carrusel2{
      width: 93%;
      height: 18rem;
      padding: 5rem;
      background-image: url('/src/assets/pn.png');
      background-size: cover;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 25px;
      background-position: center;
    }

    .img1-carrusel3{
      width: 93%;
      height: 18rem;
      padding: 5rem;
      background-image: url('/src/assets/bisodigital.png');
      background-size: cover;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 3rem;
      border-radius: 25px;
      background-position: center;
    }

    .img1-carrusel4{
      width: 93%;
      height: 18rem;
      padding: 5rem;
      background-image: url('/src/assets/pn.png');
      background-size: cover;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 25px;
      background-position: center;
    }

    .img1-carrusel5{
      width: 93%;
       height: 18rem;
      padding: 5rem;
      background-image: url('/src/assets/favlash.png');
      background-size: cover;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 25px;
      background-position: center;
    }
    .img1-carrusel6{
      width: 93%;
      height: 18rem;
      padding: 5rem;
      background-image: url('/src/assets/luxedental.png');
      background-size: cover;
      box-shadow: rgba(0, 0, 0, 0) 0px 1px 4px;
      border-radius: 25px;
      background-position: center;
    }

    .img1-carrusel7{
      width: 93%;
      height: 18rem;
      padding: 5rem;
      background-image: url('/src/assets/danyaargote.png');
      background-size: cover;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 25px;
      background-position: center;
    }

    .img1-carrusel8{
      width: 93%;
      height: 18rem;
      padding: 5rem;
      background-image: url('/src/assets/global-recruiters.png');
      background-size: cover;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 25px;
      background-position: center;
    }

    .img1-carrusel9{
      width: 93%;
      height: 18rem;
      padding: 5rem;
      background-image: url('/src/assets/coinase.png');
      background-size: cover;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 25px;
      background-position: center;
    }

    .img1-carrusel10{
      width: 93%;
      height: 18rem;
      padding: 5rem;
      background-image: url('/src/assets/ciplastic.png');
      background-size: cover;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 25px;
      background-position: center;
   
    }

    .img1-carrusel11{
      width: 93%;
      height: 18rem;
      padding: 5rem;
      background-image: url('/src/assets/techmeol.png');
      background-size: cover;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 25px;
      background-position: center;
    }

    .img1-carrusel12{
      width: 93%;
      height: 18rem;
      padding: 5rem;
      background-image: url('/src/assets/ixaya.png');
      background-size: cover;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 25px;
      background-position: center;
    }

    .img1-carrusel13{
      width: 93%;
      height: 18rem;
      padding: 5rem;
      background-image: url('/src/assets/gruastowing.png');
      background-size: cover;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 25px;
      background-position: center;
    }

    .img1-carrusel14{
      width: 93%;
      height: 18rem;
      padding: 5rem;
      background-image: url('/src/assets/heat.png');
      background-size: cover;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 25px;
      background-position: center;
    }

    @media screen and (min-width:300px) and (max-width:800px) {

      .cuadros-cont{
        margin: 0 auto;
        overflow: hidden;
        padding-right: 2rem;
         padding-left: 2rem;
    }

    .main-title-port{
      padding-right: 2rem;
       padding-left: 2rem;
    }
    
    .grid-portafolio{
      padding: 2rem;
      display: grid;
      grid-template-columns: repeat(1,minmax(0,1fr));
      gap: 2rem;
    }

    }