/********** Gloobal ***********/
.portafolio{
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
 z-index: 1;
 padding-bottom: 7rem;
padding-top: 6rem;
}

.cuadros-cont{
 overflow: hidden;
 margin: 0 auto;
 padding-right: 50px;
 padding-left: 100px;
}

/*********** texto ***********/
.main-title-port h4{
  text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: .8rem;
    color: #0982A8;
}

.main-title-port h1{
  text-align: center;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
}


/********** Portafolio ***********/

.galeria {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  grid-template-rows: auto auto; /* 2 filas, altura automática */
  gap: 8px;
  position: relative;
  overflow: hidden;
}

.imagen-container{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.galeria img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

.galeria img:hover {
  opacity: .9;
}

.paginacion {
  text-align: center;
  margin-top: 20px;
}

.paginacion button {
  padding: 8px 12px;
  margin: 0 5px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.paginacion button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.paginacion button:hover:not(:disabled) {
  background-color: #2980b9;
}
/* Ocultar imágenes después de las primeras 6 */
.galeria img:nth-child(n + 7) {
  display: none;
}




@media screen and (min-width:300px) and (max-width:800px) {

  .portafolio{
   padding-top: 1rem;
   padding-bottom: 1rem;
  }
  .cuadros-cont{
    padding-right: 2rem;
     padding-left: 2rem;
}

.main-title-port h1{
  text-align: center;

  font-size: 2.5rem;
  margin-top: 4rem ;
}}