.servicios{
    padding-top: 4rem;
    background-color:rgba(18, 117, 174, 0.038);
}

.servicios-cont{
   margin: 0 auto;
   overflow: hidden;
   padding-right: 10rem;
    padding-left: 10rem;
}

.proy-scroll{
  padding-bottom: 2rem;
}

.servicios-cont h4{
  text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: .8rem;
    color: #0982A8;
}

.servicios-cont h1{
  text-align: center;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.servicios h2{

    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.first-service{
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  gap: 2rem;
}

.second-service{
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  gap: 2rem;
}

.third-service{
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  gap: 2rem;
}

.left-1{
  display: flex;
  justify-content: center;
}


.right-2{
  display: flex;
  justify-content: center;
}

.web-img, .movil-img, .mkt-img{
  width: 100%;
  height: 36rem;
}


li{
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

.bi-check-circle{
  color: #0982A8;
  margin-right: .6rem;
  font-size: 1.5rem;
}

p{
  margin-top: -.4rem;
  color: rgba(0, 0, 0, 0.628);
}

.servicios li{
  color: black;
}

.mkt-img2{
 height: auto;
   max-width: 200px;
   object-fit: contain;
   gap: 20px;
   margin-left: 2rem;
}
.socios{

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

@media screen and (min-width:850px) {
  .movil-img-2{
    display: none;
  }
}


@media screen and (min-width:300px) and (max-width:850px) {
  .servicios-cont{
    margin: 0 auto;
    overflow: hidden;
    padding-right: 2rem;
     padding-left: 2rem;
 }

 .servicios{
  padding-top: 2rem;
}

 /*********** Servicios **********/
 .first-service{
  padding: 2rem;
  grid-template-columns: repeat(1,minmax(0,1fr));
}

.second-service{
  padding: 2rem;
  grid-template-columns: repeat(1,minmax(0,1fr));
}

.third-service{
  padding: 2rem;
  grid-template-columns: repeat(1,minmax(0,1fr));
}

.web-img, .movil-img, .mkt-img{
  width: 100%;
  height: 20rem;
  margin-top: -1.2rem;
}

.movil-img-2{
  padding-right: 2rem;
     padding-left: 2rem;
     width: 100%;
     height: 20rem;
     margin-top: 2rem;
     border-radius: 9%;
}

.movil-img{
  display: none;
}

.servicios-cont h1{
    font-size: 1.5rem;
}

.servicios h2{
  font-size: 1.3rem;
}


}