.servicios{
    padding-top: 5rem;
    margin-left: -8px;
    margin-right: -8px;
    background-color:rgba(18, 117, 174, 0.038);
}

.servicios-cont{
   margin: 0 auto;
   overflow: hidden;
   padding-right: 10rem;
    padding-left: 10rem;
}

.proy-scroll{
  padding-bottom: 4rem;
}

.servicios-cont h4{
  text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: .8rem;
    color: #0982A8;
}

.servicios-cont h1{
  text-align: center;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.servicios h2{

    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.first-service{
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  gap: 2rem;
}

.second-service{
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  gap: 2rem;
}

.third-service{
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  gap: 2rem;
}

.left-1{
  display: flex;
  justify-content: center;
}


.right-2{
  display: flex;
  justify-content: center;
}

.web-img, .movil-img, .mkt-img{
  width: 100%;
  height: 36rem;
}


li{
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

.bi-check-circle{
  color: #0982A8;
  margin-right: .6rem;
  font-size: 1.5rem;
}

p{
  color: rgba(0, 0, 0, 0.628);
}

@media screen and (min-width:300px) and (max-width:800px) {
  .servicios-cont{
    margin: 0 auto;
    overflow: hidden;
    padding-right: 2rem;
     padding-left: 2rem;
 }

 /*********** Servicios **********/
 .first-service{
  padding: 2rem;
  grid-template-columns: repeat(1,minmax(0,1fr));
}

.second-service{
  padding: 2rem;
  grid-template-columns: repeat(1,minmax(0,1fr));
}

.third-service{
  padding: 2rem;
  grid-template-columns: repeat(1,minmax(0,1fr));
}

.web-img, .movil-img, .mkt-img{
  width: 100%;
  height: 20rem;
}
}



/* From Uiverse.io by Yaya12085 */ 
.code-editor-css {
  max-width: 450px;
  background-color: #1d1e22;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 2px;
  height: 270px;
}

.header-css {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.title-css {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1.57px;
  color: rgb(212 212 212);
}

.icon-css {
  width: 20px;
  transition: .2s ease;
}

.icon-css:hover {
  cursor: pointer;
  border-radius: 50px;
  background-color: #6e7281;
}

.editor-content-css {
  margin: 0 10px 10px;
  color: white;
}

.property-css {
  margin-left: 30px;
}

.property-css:hover {
  cursor: text;
}

.editor-content-css .color-0-css {
  color: rgb(86 156 214);
}

.editor-content-css .color-1-css {
  color: rgb(182 206 168);
}

.editor-content-css .color-2-css {
  color: rgb(156 220 254);
}

.editor-content-css .color-3-css {
  color: rgb(207 146 120);
}

.color-preview-1-css,.color-preview-2-css {
  height: 12px;
  width: 10px;
  border: 1px solid #fff;
  display: inline-block;
  margin-right: 3px;
  background-color: white!important;
}

.color-preview-1-css {
  background-color: #1d1e22;
}

.color-preview-1-css {
  background-color: rgba(0, 0, 0, 0.5);
}

