---
import Footer from "../components/footer.astro"
import ImageLogo from '../assets/vikingdev-logo.webp';
---

<html lang="es">
	<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SWSRTQDPPF"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SWSRTQDPPF');
</script>
<!-- Hotjar Tracking Code for https://vikingdevtj.com/ -->
<script is:inline>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:6369460,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Términos Y Condiciones - VikingDev</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<link rel="icon" type="image/svg+xml" href="/vikingdev.svg" />
		<meta name="description" content="Nos convertimos en tu socio estratégico para el desarrollo tecnológico de tu negocio.">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	</head>
	<body>

        <div class="content" id="miDiv">
            <div class="head-grid">
          
              <a href="https://vikingdevtj.com/"><div class="head-logo">
                <img 
                src={ImageLogo.src} 
                width="1500" 
                height="678"
                alt="logo-vikingdev"
                class="logo-img"/>
              </div>
            </a>
          
                <div class="nav-links-grid">
                  
                  <div class="navlinks-logo">
                    <p>VikingDev</p>
                  </div>
          
                </div>
            
              </div> 
          
              <div class="hamburger">
              </div>
          
            </div>
          </div>
        <section class="termc">

            <h2>TÉRMINOS Y CONDICIONES DE USO</h2>
            <h4>Fecha de última actualización: 30 de mayo de 2025</h4>
            <p>Bienvenido/a al sitio web de VikingDev (vikingdevtj.com, en adelante, el "Sitio Web"). Estos Términos y Condiciones de Uso (en adelante, los "Términos") rigen el acceso y uso de nuestro Sitio Web y los servicios que ofrecemos. Al acceder y utilizar este Sitio Web, usted ("Usuario" o "Usted") acepta y se obliga a cumplir con estos Términos, así como con nuestro Aviso de Privacidad. Si no está de acuerdo con estos Términos, le pedimos que no utilice nuestro Sitio Web.</p>

            <h3>1. Aceptación de los Términos:</h3>
            <p>Al utilizar este Sitio Web, usted declara que es mayor de edad y/o que cuenta con la capacidad legal necesaria para aceptar y cumplir con estos Términos. Si usted utiliza el Sitio Web en nombre de una empresa o entidad, declara que tiene la autoridad para vincular a dicha entidad a estos Términos.</p>
            <h3>2. Servicios Ofrecidos:</h3>
            <p>VikingDev es una agencia de desarrollo y marketing digital especializada en [diseño y desarrollo web, marketing digital, SEO, SEM, redes sociales, desarrollo de aplicaciones web y móviles y software a la medida.]. A través de nuestro Sitio Web, usted podrá conocer nuestros servicios, solicitar información, cotizaciones y, en su caso, contratar nuestros servicios. Los términos y condiciones específicos de cada servicio contratado se establecerán en un contrato de servicios separado entre usted y VikingDev.</p>
            <h3>3. Uso del Sitio Web:</h3>
            <p>Usted se compromete a utilizar el Sitio Web de manera lícita y de conformidad con estos Términos, la moral, las buenas costumbres y el orden público. Usted se abstendrá de:<br>
                a. Realizar cualquier acto que pueda dañar, inutilizar, sobrecargar o deteriorar el Sitio Web o impedir el normal uso y disfrute del mismo.
                b. Intentar acceder a áreas restringidas de los sistemas informáticos de VikingDev o de terceros.<br>
                c. Introducir o difundir en la red virus informáticos o cualesquiera otros sistemas físicos o lógicos que sean susceptibles de provocar daños en los sistemas de VikingDev o de terceros.<br>
                d. Realizar cualquier actividad que constituya una infracción a los derechos de propiedad intelectual e industrial de VikingDev o de terceros.<br>
                e. Recopilar o almacenar datos personales de otros usuarios sin su debido consentimiento.</p>
                <h3>4. Enlaces a Terceros:</h3>
                <p>El Sitio Web puede contener enlaces a sitios web de terceros. Estos enlaces se proporcionan únicamente para su conveniencia y no implican un respaldo o aprobación por parte de VikingDev de los contenidos de dichos sitios. VikingDev no tiene control sobre, ni asume responsabilidad alguna por el contenido, políticas de privacidad o prácticas de sitios web de terceros. Le recomendamos revisar los términos y condiciones y las políticas de privacidad de cualquier sitio de terceros que visite.</p>
                <h3>5. Exclusión de Garantías y Limitación de Responsabilidad:</h3>
                <p>VikingDev se esfuerza por mantener la información del Sitio Web actualizada y precisa, pero no garantiza la exactitud, integridad o actualidad de dicha información. El uso del Sitio Web es bajo su propio riesgo. VikingDev no será responsable por daños o perjuicios directos, indirectos, incidentales, especiales o consecuenciales que resulten del uso o la imposibilidad de uso del Sitio Web o de cualquier contenido o servicio proporcionado a través del mismo.</p>
                <h3>6. Modificaciones de los Términos:</h3>
                <p>VikingDev se reserva el derecho de modificar o actualizar estos Términos en cualquier momento y sin previo aviso. La fecha de "última actualización" en la parte superior de estos Términos indicará cuándo se realizaron los cambios. Es su responsabilidad revisar periódicamente estos Términos para estar al tanto de cualquier modificación. Su uso continuado del Sitio Web después de la publicación de cambios constituirá su aceptación de los Términos modificados.</p>
                <h3>7. Ley Aplicable y Jurisdicción:</h3>
                <p>Estos Términos se rigen e interpretan de acuerdo con las leyes de México, específicamente las leyes del Estado de Baja California, en la Ciudad de Tijuana. Cualquier controversia o disputa que surja en relación con estos Términos será sometida a la jurisdicción de los tribunales competentes en Tijuana, Baja California, México, renunciando expresamente a cualquier otra jurisdicción que pudiera corresponderles por razón de sus domicilios presentes o futuros.</p>
                <h3>8. Contacto:</h3>
                <p>Si tiene alguna pregunta o inquietud sobre este Aviso de Privacidad o sobre el tratamiento de sus datos personales, por favor contáctenos a través de:</p>
                <ul style="list-style-type: none;margin:0;padding;0;" >
                 <li><a href="tel:+526632477816" style="color: #0982A8;text-decoration: none; font-weight: 500;">(663) 247-7816</a></li>
                 <li><a href="mailto:vikingdevtj@gmail.com" style="color: #0982A8;text-decoration: none;text-transform: none; font-weight: 500;">vikingdevtj@gmail.com</a></li>
                </ul>
                <p></p>

        </section>
	
        <Footer />

        <style>
            section{
margin: auto 0;
padding: 4rem 8rem 8rem 8rem;
}

.termc h2{
    font-family: "Manrope", sans-serif;
    text-align: center;
}

.termc h3{
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    margin-top: 2rem;
}

.termc h4{
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.termc p{
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    line-height: 28px;
}

.termc li{
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    line-height: 28px;
    color: black;
}

@media screen and (max-width:800px){
    section{
margin: auto 0;
padding: 2rem;
}
}

/*********** Navbar ***********/
.content{
    padding-right: 50px;
    padding-left: 50px;
      margin-left: -8px;
      margin-right: -8px;
      margin-top: -8px;
      overflow: hidden;
      position: sticky;
      width: 100%; 
      border-bottom: solid;
      border-width: 1px;
      border-color: rgba(0, 0, 0, 0);   

  }
  
  #miDiv {
    background-color:#ffffff; /* Color inicial */
    transition: background-color 0.3s ease; /* Transición suave */
    top: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: auto; /* O una altura fija si es necesario */
    z-index: 10; /* Opcional */
  }
  
  .head-grid{
      display:grid;
      grid-template-columns: 50% 60%;
      gap: 2rem;   
  }
  
  .logo-img{
      width: 70%;
      height: 5rem;
  }
  
  .head-logo{
    width: 700px;
    height: 100%;
  }
  
  
  .expanded {
    display: unset;
    
  }

  @media screen and (min-width: 780px) {
   .nav-links-grid{
    display: none;
   }
  
  }
  
  @media screen and (min-width:300px) and (max-width:800px) {
  
      .content{
        
        width: auto;
        padding-left: .5rem;
        padding-right: .5rem;
      }
  
      .head-grid{
        width: auto;
        grid-template-columns: repeat(2,minmax(0,1fr));
        padding-left:10px;
         padding-right: 10px;
      }
  
      .logo-img{
       
          height: auto;
          margin-left: 0;
          width: 60%;
      }
  
      .head-logo{
        width: 110%;
        margin-top: .8rem;
      }

        /********** Menu Open transition *********/
      /* Aniamcion para cerrar */
  
      .nav-links.expanded.closing{
        animation: fadeOutUp 0.3s ease-in-out;
      }
        @keyframes fadeInDown {
          0% {
            opacity: 0;
            transform: translateY(-10px);
          }
          100%{
            opacity: 1;
            transform: translateY(0);
          }
        
        }
  
        @keyframes fadeOutUp {
          0%{
            opacity: 1;
            transform: translateY(0);
          }
          100%{
            opacity: 1;
            transform:translateY(-10px) ;
          }
          
        }
    
    }
  
    @media screen and (min-width:600px) and (max-width:700px) {
      .logo-img{
      margin-top:-1.6rem;
   
    }
  
    }
  
    @media screen and (min-width:701px) and (max-width:770px) {
  
      .logo-img{
       
      margin-top:-2rem;
    }
  
    }
    @media screen and (min-width:800px) and (max-width:1200px) {
  
      .content{
          position: relative;
          top: 0px;
          z-index: 1;
      }
  
      .head-grid{ 
        padding: 2rem;
        display:grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
            gap: 2rem;
      }
      .logo-img{
        margin-top: -.8rem;
        height: auto;
        margin-left: 0;
        width: 27%;
        display: flex;
      justify-content: center;
  
    }
    }
  
    @media only screen and (min-width:1400px) {
  
      .content{
        width: auto;
        padding-left: 140px;
        padding-right: 140px;
      }
  
      .logo-img{
        margin-top:1rem;
        height: 80%;
        width: 20%;      
    }
  
    }
        </style>
	</body>
</html>
