---
import '../styles/chatbot2.css';
---


<section class="chatbot-2">
    <button id="chatbot-toggle" class="chatbot-toggle">
        <span id="toggle-icon">💬</span>
    </button>

    <div class="chatbot-container" id="chatbot-container" style="display: none;">
        <div class="chatbot-header">
            <h1><i class="bi bi-robot"></i> Asistente Virtual</h1>
        </div>
        <div class="chatbot-messages" id="chat-messages">
           <!--  <div class="message bot-message">:</div>-->
            </div>
        <div class="chatbot-options" id="chatbot-options">
            </div>
    </div>

</section>

<script>
    import "../scripts/chatbot2.js"
</script>