---
import '../styles/contacto.css'
---

<section class="contacto" id="contacto" >
    <div class="contacto-cont">

        <h4>CONTACTO</h4>
        <!-- <h1>¡Inicia hoy tu salto al mundo digital!</h1>-->

        <div class="contact-grid">

                 <div class="txt-izq-cont">
                    <h2>¡Inicia hoy tu salto al mundo digital ¡Dejanos tus datos y nos comunicaremos a la brevedad!</h2>
                    <ul class="contact">
                        <li><i class="bi bi-envelope-open-fill"></i> contacto@vikingdev.com</li>
                        <li><i class="bi bi-telephone-fill"></i></i> (663) 247-7816</li>        
                    </ul>

                         
        <div class="social-media-contact">
            <ul class="socialmedia-contact">
                   <li><i class="bi bi-facebook"></i></li>
                   <li><i class="bi bi-linkedin"></i></li>
                   <li><i class="bi bi-whatsapp"></i></li>
                 </ul>
   
   
   
           </div>
                 </div>

            <div class="mail-formulario">
                <div id="mc_embed_shell">
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                      #mc_embed_signup{background:#fff; false;clear:left; font:14px Helvetica,Arial,sans-serif; width: 599px;}
                      /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
              </style>
              <div id="mc_embed_signup">
                  <form action="https://gmail.us18.list-manage.com/subscribe/post?u=0b85077fffb17dc2d2c765233&amp;id=baea33f84f&amp;f_id=00a56be1f0" 
                  method="post" id="mc-embedded-subscribe-form" 
                  name="mc-embedded-subscribe-form" 
                  class="validate" 
                  target="_blank">
                      
                          <div class="indicates-required"><span class="asterisk">*</span> indica que es obligatorio</div>

                          <div class="mc-field-group"><label for="mce-FNAME">Nombre <span class="asterisk">*</span></label>
                            <input type="text" name="FNAME" class=" text" id="mce-FNAME" value="">
                        </div>

                            <div class="mc-field-group"><label for="mce-PHONE">Número de teléfono <span class="asterisk">*</span></label>
                                <input type="text" name="PHONE" class="REQ_CSS" id="mce-PHONE" value="">
                            </div>
                                
                                <div class="mc-field-group"><label for="mce-EMAIL">Dirección de correo electrónico <span class="asterisk">*</span></label>
                                    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
                                </div>

                      <div id="mce-responses" class="clear foot">
                          <div class="response" id="mce-error-response" style="display: none;"></div>
                          <div class="response" id="mce-success-response" style="display: none;"></div>
                      </div>
                  <div aria-hidden="true" style="position: absolute; left: -5000px;">
                      /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                      <input type="text" name="b_0b85077fffb17dc2d2c765233_baea33f84f" tabindex="-1" value="">
                  </div>
                      <div class="optionalParent">
                          <div class="clear foot">
                              <input type="submit" name="Enviar" id="mc-embedded-subscribe" class="button" value="Enviar">
                   
                          </div>
                      </div>
                  </div>
              </form>
              </div>
              <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
              <script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[4]='PHONE';ftypes[4]='phone';fnames[0]='EMAIL';ftypes[0]='email';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            </div>
              
        </div>
         
 
    </div>
</div>
</section>