---
import '../styles/contacto.css'
import Cotizacion from "../components/cotizador.jsx";
import FotoP from "../assets/foto.png"
---

<section class="contacto" id="cotizador" >
    <div class="contacto-cont">

        <h4>COTIZADOR</h4>
        <!-- <h1>¡Inicia hoy tu salto al mundo digital!</h1>-->
 <h2 class="cotizatext">Hablemos de Tu Proyecto <br> ¡Usa nuestro <span style="color:#0982A8 ;">cotizador</span> y planifica tu <span style="color:#0982A8 ;">inversión</span>!</h2>
        <div class="contact-grid">

                 <div class="txt-izq-cont">
                   
                    
                 <div class="img-personal">
              <img 
              src={FotoP.src}
             
              />  
              </div>  
             
                 </div>

               
              
              
                  
                    <Cotizacion client:load/>
                  
        </div>
         
 
    </div>
</div>
</section>

<script>
    import "../scripts/cotizador.js"
</script>