---
import '../styles/features.css';
---

<section class="features" id="features">
<div class="features-cont">

    <h4>OPORTUNIDADES</h4>
    <h1>Haz Crecer Tu Negocio con un Sitio Web Impresionante</h1>
    <h2>Lleva tu negocio al siguiente nivel. <br>Una página web es tu puerta de entrada al mundo digital.</h2>

    <div class="features-grid">
        
        <div class="flex-row-1">
            <i class="bi bi-person-check"></i>
            <h3>Credibilidad y Profesionalismo</h3>
            <p>Un sitio web bien diseñado transmite confianza y demuestra que tu negocio es serio y comprometido.</p>
        </div>

        <div class="flex-row-1">
            <i class="bi bi-eyeglasses"></i>
            <h3>Visibilidad 24/7</h3>
            <p>Tu sitio web trabaja para ti 24/7, atrayendo clientes potenciales incluso mientras duermes.</p>

        </div>
        
    </div>

    
    <div class="features-grid2">
        
        <div class="flex-row-1">
            <i class="bi bi-globe"></i>
            <h3>Alcance Global</h3>
            <p>Internet no tiene fronteras. Un sitio web te permite llegar a clientes en cualquier parte del mundo, ampliando tu mercado potencial.</p>
        </div>

        <div class="flex-row-1">
            <i class="bi bi-graph-up-arrow"></i>
            <h3>Análisis y Mejora Continua</h3>
            <p>Las herramientas de análisis te permiten medir el tráfico, comprender el comportamiento de los usuarios y optimizar tu sitio para obtener mejores resultados.</p>

        </div>
        
    </div>

</div>
</section>