---
import '../styles/features.css';

import AHImg from '../assets/programadores/1.png';
import HRImg from '../assets/programadores/2.png';
import ASImg from '../assets/programadores/3.png';

---

<section class="features" >
<div class="features-cont">

    <h4>NOSOTROS</h4>
    <h1>Nuestra Misión: Tu Crecimiento Digital</h1>
    <p class="p-inicial">En VikingDev nos encargamos de desarrollar soluciones tecnológicas para impulsar tu negocio.<br>
        Nos comprometemos a entregarte un servicio con la más alta calidad.</p>

    <div class="features-grid">
        
        <div class="flex-row-1">
            <i class="bi bi-person-check"></i>
            <h3>Credibilidad y Profesionalismo</h3>
            <p>Con un amplio portafolio que incluye desarrollo web, aplicaciones web y campañas publicitarias garantizamos un trabajo excepcional.</p>
        </div>

        <div class="flex-row-1">
            <i class="bi bi-eyeglasses"></i>
            <h3>Visibilidad 24/7</h3>
            <p>Nuestro enfoque en SEO permite que tu sitio web en poco tiempo se encuentre entre los primeros resultados de busqueda de Google.</p>

        </div>
        
    </div>

    
    <div class="features-grid2" >
        
        <div class="flex-row-1">
            <i class="bi bi-globe"></i>
            <h3>Alcance Global</h3>
            <p>Nuestro trabajo no conoce fronteras, desarrollamos sitios bilingües que permiten exponer tu marca a todas partes.</p>
        </div>

        <div class="flex-row-1">
            <i class="bi bi-graph-up-arrow"></i>
            <h3>Análisis y Mejora Continua</h3>
            <p>Mantenerte actualizado es parte importante para nosotros, creamos y mantenemos tu sitio web actualizado y con el mayor rendimiento.</p>

        </div>
        
    </div>


</div>

<div class="serv-espacio" id="servicios">
    
</div>

</section>

<!--
<section class="programadores">
    <div class="programadores-cont">
        <div class="programadores-grid">

            <div class="pg-1">
            
                <div class="pg1-img"></div>

                <h3>Ing. Antonio Herrera</h3>
                <p>Programador Web / Web Master</p>
                <div class="social-div">
                <ul class="socialmedia">
                    <li><i class="bi bi-linkedin"></i></li>
                    <li><i class="bi bi-whatsapp"></i></li>
                    <li><i class="bi bi-envelope"></i></li>
                  </ul>
                </div>
            </div>
            
            <div class="pg-2">
          
                <div class="pg2-img"> </div>
                
                <h3>Ing. Hector Ríos</h3>
                <p>Programador Full Stack</p>
                <div class="social-div">
                    <ul class="socialmedia">
                        <li><i class="bi bi-linkedin"></i></li>
                        <li><i class="bi bi-whatsapp"></i></li>
                        <li><i class="bi bi-envelope"></i></li>
                      </ul>
                    </div>
            </div>

            <div class="pg-3">
                <div class="pg3-img"></div>
                <h3>Ing. Alonso Santana</h3>
                <p>Programador Full Stack</p>
                <div class="social-div">
                    <ul class="socialmedia">
                        <li><i class="bi bi-linkedin"></i></li>
                        <li><i class="bi bi-whatsapp"></i></li>
                        <li><i class="bi bi-envelope"></i></li>
                      </ul>
                    </div>
            </div>

    </div>

</section> -->