---
import '../styles/footer.css'
//import {Image} from 'astro:assets';
import ImageLogoFooter from '../assets/vikigdev-blanco.webp';
---

<section class="footer">
  <div class="footer-grid">
      
      <div class="footergrid1">
          <div class="footer-logo">
              <img 
              src={ImageLogoFooter.src}
              width="47%"
              height="50%"
              alt="favlash-logo"/>
            </div>
            <p>Somos una empresa de desarrollo de tecnología cuya visión se enfoca en el impacto positivo, ofreciendo beneficios tecnologicos desarrollados a la medida. </p>
      </div>
      <div class="footergrid2">
          <h3>contacto</h3>
          <ul>
             
              <li><i class="bi bi-telephone-inbound-fill"></i>(663) 247-7816</li>
              <li><i class="bi bi-envelope-open-fill"></i>vikingdevtj@gmail.com</li>
          </ul>
      </div>

      <div class="footergrid3">
       

          <h3>Síguenos</h3>
          <ul>
              <li><a href="https://www.facebook.com/vikingdevtj" target="_blank"><i class="bi bi-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/company/vikingdev/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
              <li><a href="https://wa.link/6xz219/" target="_blank"><i class="bi bi-whatsapp"></i></a></li>
          </ul>
      </div>
      <div class="footergrid4">
          <h3>Privacidad</h3>
          <ul>
              <li>Aviso de privacidad</li>
              <li>Términos y condiciones</li>
          </ul>
      </div>

      
  </div>

</section>