---
import '../styles/footer.css'
//import {Image} from 'astro:assets';
import ImageLogoFooter from '../assets/vikingdev-logo.png';
---

 <footer class="footer">
  <div class="footer-cont">
    

    <div class="footer2-grid">
      
      <div>
        <img 
        src={ImageLogoFooter.src} 
        
        alt="desarrollo web"
        style="border-radius: 2rem;"
        class="logo-img-footer"/>

        <p style="desc-footer">
          Somos una empresa de desarrollo de tecnología cuya  visión se enfoca 
          en el impacto positivo, ofreciendo beneficios tecnologicos desarrollados a la medida.
        </p>
      </div>
     
     <div class="terminos" ><p>
      2021 – 2031 – VikingDev. <a href="">Términos y condiciones.</a><a href="">Aviso de privacidad.</a>
    </p></div> 
      
      <div class="suscribe">

          
        </p>
        <div class="iconos">
          <div class="footnav" id="myfooterTopnav">
            <a href="#features">Servicios</a>
            <a href="#portafolio">Portafolio</a>
            <a href="#tecnologias">Tecnologías</a>
            <!-- <a href="#">Blog</a>-->
            <a href="#contacto">Contacto</a>
            <!--<a href="#">Contacto</a>-->
     
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
