---
import '../styles/mainhead.css'

import {Image} from 'astro:assets';
import myImage from '../assets/robot.png';


---


<section class="Mainhead">

    <div class="content">
      
   
        <div class="main-grid">

            <div class="mainhead-cont">
               
                <img  src={myImage.src} alt='robot' width="2500" height="2500"/>
            </div>
        
            <div class="mainhead-cont-2">
               <h1 >Diseño <span style="color:#0982A8">Web</span> que impulsa tu <span style="color:#0982A8">Negocio</span></h1>
                
                <p>texto descriptivo de ejemplo descriptivo de ejemplo</p>
                <div class="buttons-grid">
                    <a class="btn-left">Get</a>
                    <a class="btn-right">More</a>
                </div>
            </div>

        </div>
  
   
</div>
</section>
        

