---
import '../styles/mainhead.css'
import {Image} from 'astro:assets';
import myImage from '../assets/robot.png';
---
<section class="Mainhead">

    <div class="content-main">
    
        <div class="main-grid">

            <div class="mainhead-cont-2">
               <h1> Tu agencia digital de confianza <br>en  <span style="color:#0982A8">Tijuana</span></h1>
                
                <p>Agencia de desarrollo web y marketing digital en Tijuana. <br>
                Diseñamos sitios que convierten y estrategias que generan resultados.</p>
                <div class="buttons-grid">

<button class="cta" onclick="location.href='#cotizador'">
    <span>Cotiza Tu Proyecto</span>
    <svg width="15px" height="10px" viewBox="0 0 13 10">
      <path d="M1,5 L11,5"></path>
      <polyline points="8 1 12 5 8 9"></polyline>
    </svg>
  </button>
  
                </div>
            </div>

        </div>
</div>
</section>