---
import '../styles/mainhead.css'

import {Image} from 'astro:assets';
import myImage from '../assets/banner1.webp';


---


<section class="Mainhead">

    <div class="content">
        <div class="head-grid">
            <div class="head-logo">
              
                <a href="/">VikingDev
              </a>
              </div>
              <div class="nav-links">
                <a href="#features">Servicios</a>
              <a href="#portafolio">Portafolio</a>
              <a href="#metodologia">Metodología</a>
              <a href="#tecnologias">Tecnologías</a>
                  <!-- <a href="#">Blog</a>-->
              <a href="#contacto">Contacto</a>
        
                </div> 
    
                
                <div class="hamburger">
                  <span class="line"></span>
                  <span class="line"></span>
                  <span class="line"></span>
                </div>
            </div>
        </div>

  
    <div class="mainhead-cont">
        <h1>Diseño <span style="color:#0982A8">Web</span> <br>que impulsa tu <br><span style="color:#0982A8">Negocio</span>
        </h1>

        <!-- 
        <div class="buttons-grid">
            <a class="btn-left">Get</a>
            <a class="btn-right">More</a>
        </div>
    -->

    </div>




</section>

<div class="separator">
        
</div>

