---
import '../styles/mainhead.css'

import {Image} from 'astro:assets';
import myImage from '../assets/robot.png';


---


<section class="Mainhead">

    <div class="content-main">
      
   
        <div class="main-grid">

            <!-- 
            <div class="mainhead-cont">
               
                <img  src={myImage.src} alt='robot' width="2500" height="2500"/>
            </div>
        -->
            <div class="mainhead-cont-2">
               <h1> Impulsa El Futuro Digital <br>De Tu <span style="color:#0982A8">Negocio</span></h1>
                
                <p>Nos convertimos en tu socio estratégico para el desarrollo tecnológico de tu negocio.  <br>
                   Trabajamos de la mano contigo para entender tus necesidades, plasmar tu <br> visión y crear soluciones web a medida que impulsen el crecimiento de tu negocio.</p>
                <div class="buttons-grid">
                    <a class="btn-left">Contáctanos</a> 
                </div>
            </div>

        </div>
  
   
</div>
</section>
        

