---
import '../styles/metodologia.css';


---

<section class="metodologia" id="metodologia">
    <div class="metodologia-cont">
        <div class="metodologia-meta">
            <h4>Metodologia</h4>
            <h1>Enfoque Probado para el Éxito de tu Proyecto Web</h1>
        </div>
        <div class="metodologia-grid">

            <div>
                <ul>
                    <li><i class="bi bi-laptop"></i> Descubrimiento y Planificación</li>
                    <p>
                        Identificamos el alcance potencial para garantizar un alto porcentaje de exito.
                    </p>

                    <li> <i class="bi bi-code-slash"></i> Diseño y Desarrollo</li>
                    <p>
                        Desarrollamos un sitio atractivo, veloz y funcional.
                    </p>

                    <li> <i class="bi bi-rocket-takeoff"></i>Lanzamiento y Mantenimiento</li>
                    <p>
                        Realizamos el lanzamiento de tu sitio con la más alta calidad en todos los aspectos.
                    </p>

                    <!-- 
                    <li> <i class="bi bi-clipboard2-data"></i> Análisis y Optimización</li>
                    <p>
                        ¡Felicidades, tu sitio esta en linea..!

                    </p>-->
                </ul>
            </div>

            <div>
               <img 
               src="/src/assets/metodo.png"
               alt="Metodologia-img"
               width="100%"
               style="border-radius: 2rem;"
               >
                
            </div>

        </div>

    </div>

</section>