---
import '../styles/nosotros.css'
---

<section class="nosotros">
    <div class="nosotros-cont">
        <div class="nosotrs-grid">

            <div>

            </div>

            <div></div>
        </div>
    </div>
</section>