---
import '../styles/paquetes.css';
import '../styles/costos.css';
import OnepageImg from '../assets/onepage.webp';
---

<section id="paquetes">
<section class="titulo-paquete">
 <h4>Paquetes Web</h4>
            <h1>Contamos con la solución perfecta para tu negocio</h1>
</section>
<div class="tabs-container">
  <div class="tab-buttons">
    <button class="tab-btn active" data-tab="onepage">ONE PAGE</button>
    <button class="tab-btn" data-tab="sitio">SITIO WEB COMPLETO</button>
    <button class="tab-btn" data-tab="ecommerce">E-COMMERCE</button>
    <button class="tab-btn" data-tab="complemento">COMPLEMENTO WEB</button>
  </div>

  <div class="tab-content active" id="onepage">
    <div class="grid-card">
        <div class="paqueteimg img1">
            <div class="paquete-cont">
           <h3>Inversión: <b>$5,000 MXN + IVA</b></h3>
           <p>Ideal para: Emprendedores, freelancers, eventos, campañas específicas, lanzamientos de productos.</p>
       </div>
        </div>
        <div>
             <div class="card-container">
        <div class="list-container" id="listContainer">
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Diseño personalizado basado en tu marca.</div>
            </div>
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">1 página completa con scroll fluido.</div>
            </div>
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Diseño responsive (móvil, tablet, desktop).</div>
            </div>
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">3-6 secciones estratégicas (nosotros, servicios, testimonios, etc).</div>
            </div>
            
          
            
               <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Formulario de contacto funcional.</div>
            </div>
                
            
            
                  <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Boton de WhatsApp flotante.</div>
            </div>
            
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Llamadas a la acción (CTAs) estratégicos.</div>
            </div>
      
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Mapa de ubicación integrado.</div>
            </div>
            
            
                  <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Enlaces a redes sociales.</div>
            </div>
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Componentes adicionales tales como: calendarios, galerías, carrusel, videos, etc.</div>
                
              
            </div>
            
                <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Blog con hasta dos entradas.</div>
            </div>
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">SEO básico on-page.</div>
            </div>
               <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Integración Google Analytics.</div>
            </div>
            
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">2 rondas de revisiones.</div>
            </div>

              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Host por un año.</div>
            </div>
            
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Capacitación básica.</div>
            </div>
            
               <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Entrega en 10-15 días.</div>
            </div>
            
            
        </div>

             <a href="https://wa.link/wnb0m6" target="_blank" style="text-decoration: none;"> <button class="read-more-btn">
            ¡Lo Quiero!
            <span class="arrow">→</span>
        </button></a>
    </div>
        </div>
    </div>
  </div>

  <div class="tab-content" id="sitio">
      <div class="grid-card">
         <div class="paqueteimg img2">
            <div class="paquete-cont">
           <h3>Inversión: <b>$6,000 MXN + IVA</b></h3>
           <p>Ideal para: Empresas establecidas, servicios profesionales, agencias, consultorías, instituciones.</p>
       </div>
        </div>
       <div class="card-container">
        <div class="list-container" id="listContainer">
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Diseño personalizado basado en tu marca.</div>
            </div>
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">5-8 páginas navegables.</div>
            </div>
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Diseño responsive (móvil, tablet, desktop).</div>
            </div>
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Páginas internas estilizadas.</div>
            </div>
            
          
            
               <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Formularios de contacto funcional en todás las páginas.</div>
            </div>
                
            
            
                  <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Boton de WhatsApp flotante.</div>
            </div>
            
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Llamadas a la acción (CTAs) estratégicos.</div>
            </div>
      
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Mapa de ubicación integrado en todas las páginas.</div>
            </div>
            
            
                  <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Enlaces a redes sociales.</div>
            </div>
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Componentes adicionales tales como: calendarios, galerías, carrusel, videos, chatbot, etc.</div>
                
              
            </div>
            
                <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Blog con hasta 4 entradas.</div>
            </div>
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">SEO técnico optimizado.</div>
            </div>
               <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Mapas de calor (opcional).</div>
            </div>
            
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Integración Google Analytics.</div>
            </div>
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">3 rondas de revisiones.</div>
            </div>

              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Host por un año.</div>
            </div>
            
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Capacitación básica.</div>
            </div>
            
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Entrega en 10-15 días.</div>
            </div>
            
            
            
            
        </div>

             <a href="https://wa.link/wnb0m6" target="_blank" style="text-decoration: none;"> <button class="read-more-btn">
            ¡Lo Quiero!
            <span class="arrow">→</span>
        </button></a>
    </div>
    </div>
  </div>

  <div class="tab-content" id="ecommerce">
   <div class="grid-card">
       <div class="paqueteimg img3">
            <div class="paquete-cont">
           <h3>Inversión: <b>$8,000 MXN + IVA</b></h3>
           <p>Ideal para: Tiendas retail, marcas de productos, distribuidores, mayoristas, emprendedores digitales.</p>
       </div>
        </div>
      <div class="card-container">
        <div class="list-container" id="listContainer">
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Diseño de tienda personalizado.</div>
            </div>
            
             <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Página de inicio optimizada para ventas.</div>
            </div>
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">5-8 páginas navegables.</div>
            </div>
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Diseño responsive (móvil, tablet, desktop).</div>
            </div>
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Páginas internas estilizadas.</div>
            </div>
            
           <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Carrito de compras flotante.</div>
            </div>
            
                <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Checkout optimizado (1-3 pasos).</div>
            </div>
            
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Páginas de categorías.</div>
            </div>
            
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Barra de búsqueda avanzada.</div>
            </div>
            
               <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Catálogo de hasta 50 productos.</div>
            </div>
            
               <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Variantes de producto (talla, color, etc.)</div>
            </div>
            
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Cupones y códigos de descuento.</div>
            </div>
            
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Múltiples métodos de pago.</div>
            </div>
            
               <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Formularios de contacto funcional en todás las páginas.</div>
            </div>
            
               <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Seguimiento de envíos.</div>
            </div>
            
             <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text"> Notificaciones automáticas por email.</div>
            </div>
            
             <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Facturas PDF automáticas.</div>
            </div>
            
             <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Historial de pedidos del cliente.</div>
            </div>
                
            
            
                  <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Boton de WhatsApp flotante.</div>
            </div>
            
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Llamadas a la acción (CTAs) estratégicos.</div>
            </div>
      
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Mapa de ubicación integrado en todas las páginas.</div>
            </div>
            
            
                  <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Enlaces a redes sociales.</div>
            </div>
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Componentes adicionales tales como: calendarios, galerías, carrusel, videos, chatbot, etc.</div>
                
              
            </div>
            
                <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Blog con hasta 4 entradas.</div>
            </div>
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">SEO técnico optimizado.</div>
            </div>
               <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Mapas de calor (opcional).</div>
            </div>
            
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Integración Google Analytics.</div>
            </div>
            
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Integración Meta Pixel.</div>
            </div>
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">3 rondas de revisiones.</div>
            </div>
            
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Host por un año.</div>
            </div>

            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Capacitación completa.</div>
            </div>
            
              <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Entrega en 15-20 días.</div>
            </div>
        </div>

             <a href="https://wa.link/wnb0m6" target="_blank" style="text-decoration: none;"> <button class="read-more-btn">
            ¡Lo Quiero!
            <span class="arrow">→</span>
        </button></a>
    </div>
    </div>
  </div>

  <div class="tab-content" id="complemento">
    <div class="grid-card">
           <div class="paqueteimg img4">
            <div class="paquete-cont">
           <h3 style="line-height: 40px;">Suscripción mensual: <br><b>$3,000 MXN + IVA</b></h3>
           <p>Plan ideado especialmente para negocios que cuentan con sitio web y buscan potencializar su presencia.</p>
       </div>
        </div>
 <div class="card-container">
        <div class="list-container" id="listContainer">
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">SEO (Optimización para Motores de Búsqueda).</div>
            </div>
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Google Ads (Publicidad de Pago).</div>
            </div>
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Google Analytics (Análisis Web).</div>
            </div>
            <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Pixel de Meta (Facebook/Instagram).</div>
            </div>
            
                  <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Blogs y Contenido.</div>
            </div>
            
                
            
            
                  <div class="list-item">
                <div class="bullet"></div>
                <div class="list-text">Mantenimiento general.</div>
            </div>
            
            
            
        </div>

        <a href="https://wa.link/wnb0m6" target="_blank" style="text-decoration: none;"> <button class="read-more-btn">
            ¡Lo Quiero!
            <span class="arrow">→</span>
        </button></a>
    </div>
    </div>
  </div>
</div>

    <script>
    import "../scripts/costos.js"
</script>
</section>