---

import '../styles/portafolio.css'
---

<section class="portafolio" id="portafolio">
  <div class="cuadros-cont">

    <div class="main-title-port">
      <h4>PORTAFOLIO</h4>
      <h1>Respaldados por grandes proyectos</h1>
    </div>

      <div class="grid-portafolio">
        


        <div class="carousel-item">
          <div class="img1-carrusel">

          </div>
      
        </div>

        <div class="carousel-item">
          <div class="img1-carrusel2">

          </div>
        </div>

        <div class="carousel-item">
          <div class="img1-carrusel3">

          </div>
        </div>

        <div class="carousel-item">
          <div class="img1-carrusel4">

          </div>
        </div>

        <div class="carousel-item">
          <div class="img1-carrusel5">

          </div>
        </div>

        <div class="carousel-item">
          <div class="img1-carrusel6">

          </div>
        </div>

        <div class="carousel-item">
          <div class="img1-carrusel7">

          </div>
        </div>

        <div class="carousel-item">
          <div class="img1-carrusel8">

          </div>
        </div>

        <div class="carousel-item">
          <div class="img1-carrusel9">

          </div>
        </div>

        <div class="carousel-item">
          <div class="img1-carrusel10">

          </div>
        </div>

        <div class="carousel-item">
          <div class="img1-carruse11">

          </div>
        </div>


</div>
</div>
</section>


