---
import '../styles/portafolio.css'

// Importa imágenes
import myImageP from '../assets/proyectos/favlashnuevo.png';
import myImageP3 from '../assets/proyectos/3.png';
import myImageP4 from '../assets/proyectos/4.png';
import myImageP5 from '../assets/proyectos/5.png';
import myImageP6 from '../assets/proyectos/6.png';
import myImageP7 from '../assets/proyectos/7.png';
import myImageP8 from '../assets/proyectos/8.png';
import myImageP9 from '../assets/proyectos/9.png';
import myImageP10 from '../assets/proyectos/10.png';
import myImageP11 from '../assets/proyectos/11.png';
import myImageP14 from '../assets/proyectos/14.png';
import myImageP15 from '../assets/proyectos/15.png';
import myImageP16 from '../assets/proyectos/16.png';
import myImageP17 from '../assets/proyectos/17.png';
import myImageP18 from '../assets/proyectos/18.png';
import myImageP19 from '../assets/proyectos/19.png';
import myImageP20 from '../assets/proyectos/20.png';
import myImageP21 from '../assets/proyectos/perioclinic.png';
import myImageP22 from '../assets/proyectos/holistic.png';
import myImageP23 from '../assets/proyectos/tjplastic.png';
import myImageP24 from '../assets/proyectos/reinos.png';
import myImageP25 from '../assets/proyectos/chicaf.webp';
import myImageP26 from '../assets/proyectos/perezgrovas.webp'
import myImageP27 from '../assets/proyectos/rihab.webp';
import myImageP28 from '../assets/proyectos/amt.png';
import MyImage29 from '../assets/proyectos/altiveweb.webp'

// Lista de proyectos con agencia
const proyectos = [
  { url: "http://favlash.com/", img: myImageP, agencia: "VikingDev" },
  { url: "https://danyaargote.com/", img: myImageP3, agencia: "VikingDev" },
  { url: "https://global-recruiters.com/", img: myImageP4, agencia: "VikingDev" },
  { url: "https://coinase.mx/", img: myImageP5, agencia: "VikingDev" },
  { url: "http://ciplastic.com/", img: myImageP6, agencia: "VikingDev" },
  { url: "https://www.techmeol.com/", img: myImageP7, agencia: "VikingDev" },
  { url: "https://ixayaresidencial.mx/", img: myImageP8, agencia: "VikingDev" },
  { url: "https://gruascervantestijuana.com/", img: myImageP9, agencia: "VikingDev" },
  { url: "https://mudanzashermosillo.com.mx/", img: myImageP10, agencia: "VikingDev" },
  { url: "https://madeirascollection.com", img: myImageP11, agencia: "VikingDev" },
  { url: "https://integratj.com.mx/", img: myImageP14, agencia: "Snitch Agency" },
  { url: "https://ppsolutions.com.mx/", img: myImageP15, agencia: "Snitch Agency" },
  { url: "http://clidpay.us/", img: myImageP16, agencia: "VikingDev" },
  { url: "https://snitchagency.com/", img: myImageP17, agencia: "Snitch Agency" },
  { url: "https://bajabox.com.mx/", img: myImageP18, agencia: "Snitch Agency" },
  { url: "https://gynandmed.com/", img: myImageP19, agencia: "VikingDev" },
  { url: "https://larectacoworking.com/", img: myImageP20, agencia: "VikingDev" },
  { url: "https://perioclinic.com.mx/", img: myImageP21, agencia: "Snitch Agency" },
  { url: "https://tjplasticsurgeryofficial.com/", img: myImageP23, agencia: "Snitch Agency" },
  { url: "https://los12reinoszodiacales.com/", img: myImageP24, agencia: "VikingDev" },
  { url: "https://lachicafinanzas.com.mx/", img: myImageP25, agencia: "Snitch Agency" },
   { url: "https://perezgrovas.com/", img: myImageP26, agencia: "VikingDev" },
  { url: "https://rihabvetcare.com/", img: myImageP27, agencia: "VikingDev" },
  { url: "https://holisticancercoach.com/", img: myImageP22, agencia: "VikingDev" },
   { url: "https://alliance-medtech.com/", img: myImageP28, agencia: "Snitch Agency" },
   { url: "https://altive.realty/", img: MyImage29, agencia: "VikingDev" },
];
// Calcular contador por agencia
const contadorAgencias = proyectos.reduce((acc, p) => {
  acc[p.agencia] = (acc[p.agencia] || 0) + 1;
  return acc;
}, {});

---

<section class="portafolio" id="proyectos">
  <div class="cuadros-cont">
    <div class="main-title-port">
      <h4>Portafolio</h4>
      <h1>Proyectos que Han Transformado Negocios</h1>
    </div>
  <!-- Filtros con contador -->
    <div class="filtros">
      <button data-agencia="VikingDev" class="filtro activo">
        VikingDev <span class="contador">({contadorAgencias['VikingDev']})</span>
      </button>
      <button data-agencia="Snitch Agency" class="filtro">
        Snitch Agency <span class="contador">({contadorAgencias['Snitch Agency']})</span>
      </button>
    </div>

    <!-- Galería -->
    <div class="galeria">
      {proyectos.map((p) => (
        <a href={p.url} target="_blank" class="proyecto" data-agencia={p.agencia}>
          <img src={p.img.src} alt="proyecto web" class="port-img" />
        </a>
      ))}
    </div>

    <!-- Paginación -->
    <div class="paginacion">
      <button id="anterior" disabled>Anterior</button>
      <button id="siguiente">Siguiente</button>
    </div>
  </div>
</section>


  <script>
      import "../scripts/drag.js"
  </script>
