---
import '../styles/servicios.css'
import {Image} from 'astro:assets';
import myImage from '../assets/mainasset.png';
---

<section class="servicios">
    <div class="servicios-cont">
        <h4>SERVICIOS</h4>
        <h1>Impulsamos tu Éxito Digital con Soluciones Web a la Medida</h1>
  
    </div>


<div class="first-service">
    <div class="left-1">
     <img 
     src="/src/assets/d-web.png"
     alt="desarrollo web"
     width="80%"
     style="border-radius: 2rem;"
     class="web-img"/>
    </div>

    <div class="right-1">
        <h2>
            Desarrollo Web
        </h2>
    

        <ul>
            <li><i class="bi bi-check-circle"></i> Construye Confianza y Credibilidad:</li>
            <p>Un sitio web profesional y bien diseñado demuestra que eres un negocio legítimo y confiable, generando confianza en tus clientes potenciales.</p>

            <li> <i class="bi bi-check-circle"></i>Fortalece tu Marca</li>
            <p>Tu sitio web es tu plataforma para comunicar tu mensaje, valores y personalidad de marca, creando una identidad única y memorable que te distinga de la competencia.</p>

            <li> <i class="bi bi-check-circle"></i>Aumenta tu Alcance</li>
            <p>Un sitio web te permite llegar a una audiencia global, superando las barreras geográficas y expandiendo tu mercado potencial.</p>

            <li> <i class="bi bi-check-circle"></i>Impulsa tus Ventas</li>
            <p>Un sitio web con un diseño persuasivo y llamadas a la acción claras puede aumentar tus conversiones y generar más ingresos para tu negocio.</p>

        </ul>
    </div>
</div>

<div class="second-service">
    <div class="left-2">
        <h2>
            Desarrollo de Aplicaciones Moviles
        </h2>
       

        <ul>
            <li> <i class="bi bi-check-circle"> </i>Mayor Visibilidad y Accesibilidad</li>
            <p>Una app móvil coloca tu marca en los dispositivos de tus clientes, aumentando tu visibilidad y facilitando el acceso a tus productos o servicios en cualquier momento y lugar.</p>

            <li><i class="bi bi-check-circle"></i>Innovación y Diferenciación</li>
            <p>Una app móvil te brinda la oportunidad de ofrecer funciones únicas e innovadoras, como programas de lealtad, realidad aumentada o geolocalización, que te diferencian de la competencia y te posicionan como líder en tu sector.</p>

            <li><i class="bi bi-check-circle"></i>Mejora de la Experiencia del Cliente</li>
            <p>Una app móvil bien diseñada ofrece una experiencia de usuario intuitiva, rápida y personalizada, lo que aumenta la satisfacción del cliente y fomenta la repetición de compra.</p>

            <li><i class="bi bi-check-circle"></i>Ventaja Competitiva</li>
            <p>En un mercado cada vez más competitivo, contar con una app móvil te permite diferenciarte de la competencia y posicionarte como una empresa innovadora y orientada al cliente.</p>

        </ul>
    </div>

    <div class="right-2">
        <img 
     src="/src/assets/d-movil.png"
     alt="desarrollo web"
     width="80%"
     style="border-radius: 2rem;"
     class="movil-img"/>
    </div>
</div>

<div class="third-service">
    <div class="left-1">
        <img 
        src="/src/assets/mkt.png"
        alt="desarrollo web"
        width="80%"
        style="border-radius: 2rem;"
        class="mkt-img"/>
    </div>

    <div class="right-1">
        <h2>
           Marketing Digital
        </h2>
   

        <ul>
            <li><i class="bi bi-check-circle"></i>Alcance Global y Segmentación Precisa</li>
            <p>El marketing digital te permite llegar a una audiencia global y segmentar tus campañas para dirigirte a los clientes ideales en función de sus intereses, datos demográficos y comportamiento en línea.</p>

            <li><i class="bi bi-check-circle"></i>Interacción y Engagement con los Clientes</li>
            <p>Las redes sociales, el email marketing y otras herramientas digitales te permiten interactuar directamente con tus clientes, responder a sus preguntas, resolver sus dudas y construir relaciones duraderas.</p>

            <li><i class="bi bi-check-circle"></i>Flexibilidad y Adaptabilidad</li>
            <p>El marketing digital te permite adaptar tus estrategias rápidamente a los cambios del mercado, las nuevas tendencias y las necesidades de tus clientes.</p>

        
            <p></p>
        </ul>
    </div>
</div>


</section>