---
import '../styles/tecno.css';

---


    <section id="tecnologias">
     
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="/src/assets/tecno/1.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="/src/assets/tecno/2.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="/src/assets/tecno/3.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="/src/assets/tecno/4.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="/src/assets/tecno/5.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="/src/assets/tecno/6.png" height="110"
                        width="110" alt="" />
                </div>
  
                <div class="slide">
                    <img src="/src/assets/tecno/1.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="/src/assets/tecno/2.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="/src/assets/tecno/3.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="/src/assets/tecno/4.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="/src/assets/tecno/5.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="/src/assets/tecno/6.png" height="110"
                        width="110" alt="" />
                </div>
 
                <div class="slide">
                    <img src="/src/assets/tecno/1.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="/src/assets/tecno/2.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="/src/assets/tecno/3.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="/src/assets/tecno/4.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="/src/assets/tecno/5.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="/src/assets/tecno/6.png" height="110"
                        width="110" alt="" />
                </div>
        
            </div>
        </div>
    </section> 