---
import '../styles/tecno.css';

---


    <section id="tecnologias">
     
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="https://raw.githubusercontent.com/AntonioHerrera1994/AntonioHerrera/main/react.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="https://raw.githubusercontent.com/AntonioHerrera1994/AntonioHerrera/main/astro.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="https://raw.githubusercontent.com/AntonioHerrera1994/AntonioHerrera/main/wordpress.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="https://raw.githubusercontent.com/AntonioHerrera1994/AntonioHerrera/main/html.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="https://raw.githubusercontent.com/AntonioHerrera1994/AntonioHerrera/main/css.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="https://raw.githubusercontent.com/AntonioHerrera1994/AntonioHerrera/main/js.png" height="110"
                        width="110" alt="" />
                </div>
  
                <div class="slide">
                    <img src="https://raw.githubusercontent.com/AntonioHerrera1994/AntonioHerrera/main/react.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="https://raw.githubusercontent.com/AntonioHerrera1994/AntonioHerrera/main/astro.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="https://raw.githubusercontent.com/AntonioHerrera1994/AntonioHerrera/main/wordpress.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="https://raw.githubusercontent.com/AntonioHerrera1994/AntonioHerrera/main/html.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="https://raw.githubusercontent.com/AntonioHerrera1994/AntonioHerrera/main/css.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="https://raw.githubusercontent.com/AntonioHerrera1994/AntonioHerrera/main/js.png" height="110"
                        width="110" alt="" />
                </div>
 
                <div class="slide">
                    <img src="https://raw.githubusercontent.com/AntonioHerrera1994/AntonioHerrera/main/react.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="https://raw.githubusercontent.com/AntonioHerrera1994/AntonioHerrera/main/astro.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="https://raw.githubusercontent.com/AntonioHerrera1994/AntonioHerrera/main/wordpress.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="https://raw.githubusercontent.com/AntonioHerrera1994/AntonioHerrera/main/html.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="https://raw.githubusercontent.com/AntonioHerrera1994/AntonioHerrera/main/css.png" height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src="https://raw.githubusercontent.com/AntonioHerrera1994/AntonioHerrera/main/js.png" height="110"
                        width="110" alt="" />
                </div>
        
            </div>
        </div>
    </section> 