---
import '../styles/testimonials2.css'
---

  <section class="testimoniales" >
    <div class="titulo">
        <h4>TESTIMONIOS</h4>
        <h1>¡Historias reales de éxito!</h1>
    </div>
    <div class="testimoniales-cont">

     
      <div class="roadmap-container" id="roadmap-container">
        <div class="roadmap">
          
          <div class="stage">
            <i class="bi bi-chat-right-quote"></i>
            <h2>Baja Box</h2>
            <p>Hemos visto un aumento significativo en la eficiencia <br>
              de nuestros procesos y una mejora en la satisfacción <br>
              de nuestros clientes. ¡Recomendamos ampliamente <br>
              sus servicios!</p>
           
          </div>
          
          <div class="stage">
            <i class="bi bi-chat-right-quote"></i>
            <h2>P&P Solutions</h2>
            <p> El diseño del sitio es moderno y elegante.<br> Estamos muy satisfechos con el resultado y <br>
              hemos recibido comentarios muy positivos de <br>
              nuestros clientes.</p>
            
          </div>
          
          <div class="stage">
            <i class="bi bi-chat-right-quote"></i>
            <h2>Integra</h2>
            <p>El sitio web es claro, conciso y fácil de navegar.<br>
               Desde que lanzamos el nuevo sitio web, hemos notado <br>
               un aumento considerable en las consultas de clientes <br>
               potenciales.</p>
            
          </div>
          
          <div class="stage">
            <i class="bi bi-chat-right-quote"></i>
            <h2>Ciplastic</h2>
            <p>El sitio web ha sido una herramienta invaluable para <br>atraer nuevos pacientes y mejorar nuestra imagen.</p>
        
          </div>
          
          <div class="stage">
            <i class="bi bi-chat-right-quote"></i>
            <h2>Favlash</h2>
            <p>El diseño es vibrante y atractivo, las fotos de<br> nuestros trabajos se ven increíbles, y el sistema de <br>reservas online es súper fácil de usar, tanto para nosotros<br> como para nuestros clientes. </p>
            
          </div>
  
          
        </div>
      </div>
    

</div>
</section>

<script>
    import "../scripts/carrusel.js"
</script>



