---
import '../styles/testimonialesnew.css'
---

<section class="testimonialesnew">

    <div class="titulo">
        <h4>TESTIMONIOS</h4>
        <h1>¡Historias reales de éxito!</h1>
    </div>
    <div class="testimoniales-cont">

    
  <div class="testimonial-container">

    <div class="testimonial-slider-container">
        <div class="testimonial-wrapper">
          <div class="testimonial-slide" data-index="0">
            <p class="testimonial-quote">Hemos visto un aumento significativo en la eficiencia
                de nuestros procesos y una mejora en la satisfacción 
                de nuestros clientes. ¡Recomendamos ampliamente 
                sus servicios!</p>
            <p class="testimonial-author">- Baja Box<span class="testimonial-source"></span></p>
          </div>

          <div class="testimonial-slide" data-index="1">
            <p class="testimonial-quote">El diseño del sitio es moderno y elegante.
                Estamos muy satisfechos con el resultado y 
                hemos recibido comentarios muy positivos de 
                nuestros clientes.</p>
            <p class="testimonial-author">- P&P Solutions<span class="testimonial-source"></span></p>
          </div>

          <div class="testimonial-slide" data-index="2">
            <p class="testimonial-quote">El sitio web es claro, conciso y fácil de navegar.
                Desde que lanzamos el nuevo sitio web, hemos notado 
                un aumento considerable en las consultas de clientes 
                potenciales.</p>
            <p class="testimonial-author">- Integra<span class="testimonial-source"></span></p>
          </div>

          <div class="testimonial-slide" data-index="2">
            <p class="testimonial-quote">El sitio web ha sido una herramienta invaluable para atraer nuevos pacientes y mejorar nuestra imagen.</p>
            <p class="testimonial-author">- Ciplastic <span class="testimonial-source"></span></p>
          </div>

          <div class="testimonial-slide" data-index="2">
            <p class="testimonial-quote">El diseño es vibrante y atractivo, las fotos de nuestros trabajos se ven increíbles, y el sistema de reservas online es súper fácil de usar, tanto para nosotros como para nuestros clientes.</p>
            <p class="testimonial-author">- Favlash<span class="testimonial-source"></span></p>
          </div>
          </div>
      
        <button class="ts-button ts-prev" aria-label="Anterior Testimonio">&#10094;</button>
        <button class="ts-button ts-next" aria-label="Siguiente Testimonio">&#10095;</button>
      
        <div class="testimonial-dots">
          </div>
      </div>


</div>
</section>

  <script>
      import "../scripts/testimoniales.js"
  </script>
