---
import '../styles/testimonials2.css'
---

  <section class="testimoniales" >
    <div class="titulo">
        <h4>TESTIMONIOS</h4>
        <h1>¡Historias reales de éxito!</h1>
    </div>
    <div class="testimoniales-cont">

     
      <div class="roadmap-container" id="roadmap-container">
        <div class="roadmap">
          
          <div class="stage">
            <i class="bi bi-chat-right-quote"></i>
            <h2>Baja Box</h2>
            <p>Es un método rápido y eficiente para imprimir<br> diseños directamente sobre el cartón con tintas<br> de alta calidad. Ideal para logotipos y textos en <br>hasta tres colores.</p>
           
          </div>
          
          <div class="stage">
            <i class="bi bi-chat-right-quote"></i>
            <h2>Litolaminado</h2>
            <p>Consiste en adherir una lámina impresa de <br> alta resolución al cartón corrugado, perfecto <br> para gráficosdetallados y de gran impacto visual.
    </p>
            
          </div>
          
          <div class="stage">
            <i class="bi bi-chat-right-quote"></i>
            <h2>Suaje rotativo</h2>
            <p>Un proceso que utiliza rodillos <br>con cuchillas para cortar el cartón <br>en formas específicas, ideal para diseños<br> personalizados y en grandes volúmenes.</p>
            
          </div>
          
          <div class="stage">
            <i class="bi bi-chat-right-quote"></i>
            <h2>Suaje plano</h2>
            <p>Corta el cartón usando una prensa<br> plana para crear formas complejas o<br> precisas, especialmente útil en tirajes <br>pequeños y detallados.</p>
        
          </div>
          
          <div class="stage">
            <i class="bi bi-chat-right-quote"></i>
            <h2>Engomado</h2>
            <p>Aplica adhesivo al cartón para unir partes<br> de las cajas, garantizando firmeza y <br>estabilidad en su estructura.</p>
           
          </div>
          
          <div class="stage">
            <i class="bi bi-chat-right-quote"></i>
            <h2>Ensamble manual</h2>
            <p>El armado de las cajas se realiza<br> manualmente para proyectos especiales<br> o diseños complejos, asegurando la atención <br>a cada detalle.</p>
            
          </div>
  
          
        </div>
      </div>
    

</div>
</section>

<script>
    import "../scripts/carrusel.js"
</script>



