---
import '../styles/texto.css'
---

<div class="typewriter-container">
    <h1 class="typewriter-text" id="typewriter"></h1>
    <div class="cursor">|</div>
</div>

<script>
 import "../scripts/texto.js"
</script>